

<h1 class="red">About us</h1>

<h3>Our vision is to improve people's productivity</h3>
<figure>
	<%= image_tag "cafe.jpg" %>
	<figcaption>
	strong italian espresso for difficult tasks
</figcaption>
</figure>

